<!DOCTYPE html>
<html>
<link rel="stylesheet" href="static/css/main.css" />

<div class="masthead">
    <div class="heading"><a href="/">Apprisen</a></div>   
    <nav>
        <div class="tab">
            <button onclick="window.location.href='/'">Dashboard</button>
        </div>
        <div class="tab">
            <button onclick="window.location.href='/tools'">Tools</button>
        </div>
        <div class="tab">
            <button onclick="window.location.href='/profile'">Profile</button>
        </div>
    </nav>    
</div>
<head>
	<title></title>
</head>
<body>
<p>hello profile</p>
</body>
</html>