<!DOCTYPE html>
<html>
<link rel="stylesheet" href="static/css/main.css" />

<div class="masthead">
    <div class="heading"><a href="/">Apprisen</a></div>   
    <nav>
        <div class="tab">
            <button onclick="window.location.href='/charts'">Dashboard</button>
        </div>
        <div class="tab">
            <button onclick="window.location.href='/tools'">Tools</button>
        </div>
        <div class="tab">
            <button onclick="window.location.href='/profile'">Profile</button>
        </div>
    </nav>    
</div>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  height: 300px;
  font-family: arial;
  border-radius: 20%
}

.title {
  color: grey;
  font-size: 18px;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<h2 style="text-align:center; font-size: 25px">Profile</h2>

<div class="card" style="background-color: #00264D">
	<div class='content' style="margin-top: 45px">
  <h1>Jerry Tan</h1>
  <p>Email: jerry88tan@gmail.com</p>
  <p>Credit Score: None-existent</p>
  <p>Date of Birth: 99/99/1999</p>
</div>
</div>

</body>
</html>